html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.crosswordContainer {
  padding-top: 20vh;
}
* {
  box-sizing: border-box;
}
button {
  margin: 20px;
  outline: none;
}
.custom-btn {
  width: 30vw;
  height: 30vw;
  padding: 10px 25px;
  border: 2px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-easy {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: rgb(37, 158, 55);
  font-size: 200%;
  color: white;
}
.btn-easy:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-easy:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-easy:hover:after {
  -webkit-transform: scale(1.0) rotate(90deg);
  transform: scale(1.0) rotate(90deg);
  background: rgb(17, 74, 25);
}
.btn-medium {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: rgb(182, 92, 19);
  font-size: 200%;
  color: white;
}
.btn-medium:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-medium:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-medium:hover:after {
  -webkit-transform: scale(1.0) rotate(90deg);
  transform: scale(1.0) rotate(90deg);
  background: #000;
}
.btn-hard {
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: rgb(176, 37, 37);
  font-size: 200%;
  color: white;
  
}
.btn-hard:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.btn-hard:hover {
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  color: #fff;
}
.btn-hard:hover:after {
  -webkit-transform: scale(1.0) rotate(90deg);
  transform: scale(1.0) rotate(90deg);
  background: #000;
}
