.nav {
  height: 5.3vh;
  padding: 10px;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2c2c2c;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}

.divider {
  border-left: 3px solid darkgray;
  height: 4.5vh;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
}

.routebar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  margin-left: 20px;
  justify-items: center;
}

.authbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  font-size: large;
  margin-left: 20px;

}